@import "reset.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6, p, span {
  cursor: default;
}

input {
  margin: 0;
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
}

/* status bar */

#status .status-bar {
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  display: flex;
  background-color: #191919;
}

#status .status-bar .clock {
  height: 100%;
  padding: 0 20px;
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#status .status-bar .clock p {
  color: #fff;
  font-weight: 300;
}

#status .status-bar .status {
  height: 100%;
  padding: 0 20px;
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#status .status-bar .status span {
  color: #fff;
  font-size: 0.9em;
  margin: 0 3px;
}

/* title menu */

#title .title-bar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 30px;
  display: flex;
  background-color: #28222a;
  box-shadow: 0 2px 5px;
}

#title .title-bar .title-back {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title .title-bar .title-back a {
  margin-left: 20px;
  color: #fff;
}

#title .title-bar .title-header {
  height: 100%;
  /* flex: 1 1; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#title .title-bar .title-header p {
  color: #fff;
  font-size: 25px;
  margin: 0 20px;
}

#title .title-bar .title-menu {
  height: 100%;
  padding: 0 20px;
  margin-left: auto;
  /* flex: 1 1; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#title .title-bar .title-menu a {
  color: #fff;
  font-size: 0.9em;
  margin: 0 10px;
  cursor: pointer;
}

#title .title-bar .title-menu-popup {
  width: 130px;
  height: 40px;
  position: absolute;
  top: 65px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 3px 3px 5px #ccc;
  z-index: 20;
}

#title .title-bar .title-menu-popup .menu {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
}

#title .title-bar .title-menu-popup .menu:hover {
  background-color: #f1f3f4;
}

#title .title-bar .title-menu-layer {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: #ccc;
  opacity: .3;
}

/* content */

#content {
  margin-top: 100px;
  margin-bottom: 60px;
}

#content .profile {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}

#content .profile .profile-img {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .profile .profile-img img {
  width: 100px;
  height: auto;
  border-radius: 35px;
}

#content .profile .profile-status {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content .profile .profile-status h1 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #1f1d1d;
}

#content .profile .profile-status h2 {
  margin-bottom: 5px;
  font-size: 13px;
  color: #919098;
}

#content .plus {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}

#content .plus .plus-img {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .plus .plus-img img {
  width: 85px;
  height: auto;
  border-radius: 35px;
}

#content .plus .plus-status {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content .plus .plus-add {
  padding: 20px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content .plus .plus-add a {
  width: 45px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ededed;
  color: #1f1d1d;
  cursor: pointer;
}

#content .plus .plus-status h1 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #1f1d1d;
}

#content .friends {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}

#content .friends .friends-img {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .friends .friends-img img {
  width: 85px;
  height: auto;
  border-radius: 35px;
}

#content .friends .friends-status {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content .friends .friends-status h1 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #1f1d1d;
}

#content .friends .friends-status h2 {
  margin-bottom: 5px;
  font-size: 11px;
  color: #919098;
}

#content .chats {
  width: 100%;
  display: flex;
}

#content .chats:hover {
  background-color: #f1f3f4;
}

#content .chats .chats-img {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .chats .chats-img img {
  width: 85px;
  height: auto;
  border-radius: 35px;
}

#content .chats .chats-status {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content .chats .chats-status h1 {
  margin-bottom: 5px;
  font-size: 15px;
  color: #1f1d1d;
}

#content .chats .chats-status h2 {
  margin-bottom: 5px;
  font-size: 13px;
  color: #919098;
}

#content .chats .chats-date {
  /* width: 100px; */
  padding: 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

#content .chats .chats-date h3 {
  font-size: 12px;
  padding: 0;
}

#content .find-menu {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#content .find-menu-icon a {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #28222a;
  cursor: pointer;
}

#content .find-menu-icon span {
  color: #1f1d1d;
}

#content .info {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

#content .info .info-img {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .info .info-img img {
  width: 100px;
  height: auto;
  border-radius: 35px;
}

#content .info .info-status {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content .info .info-status h1 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #1f1d1d;
}

#content .info .info-status h2 {
  margin-bottom: 5px;
  font-size: 13px;
  color: #919098;
}

#content .more-menu {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

#content .more-menu-icon {
  margin: 0 20px;
}

#content .more-menu-icon a {
  display: block;
  margin-bottom: 10px;
  color: #28222a;
  cursor: pointer;
}

#content .more-menu-icon span {
  color: #1f1d1d;
}

#content .suggestions {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

#content .suggestions-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

#content .suggestions-icon a {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #f7e600;
  color: #fff;
  cursor: pointer;
}

#content .suggestions-icon span {
  color: #1f1d1d;
  font-size: 13px;
}

#content h3 {
  padding: 10px 20px;
  font-size: 15px;
  color: #919098;
}

/* chat */

#chat {
  margin-top: 100px;
  margin-bottom: 50px;
}

#chat .chats-contents {
  display: flex;
  flex-direction: column;
}

#chat .chats-contents .chats-date {
  display: flex;
  justify-content: center;
}

#chat .chats-contents .chats-date span {
  margin: 20px 0;
  padding: 10px;
  border-radius: 15px;
  background-color: #fffdf9;
  box-shadow: 3px 3px 8px #ccc;
  font-size: 12px;
}

#chat .chats-contents .chats-talk-you {
  display: flex;
}

#chat .chats-contents .chats-talk-you .chats-image {
  padding: 10px 20px;
}

#chat .chats-contents .chats-talk-you .chats-image img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

#chat .chats-contents .chats-talk-you .chats-text {
  width: 60%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chat .chats-contents .chats-talk-you .chats-text h1 {
  margin-right: auto;
  margin-bottom: 7px;
  padding: 10px 20px;
  background-color: #f7e600;
  border-radius: 13px 13px 13px 0;
  font-size: 1em;
}

#chat .chats-contents .chats-talk-you .chats-text h2 {
  font-size: 11px;
  color: #919098;
}

#chat .chats-contents .chats-talk-me {
  display: flex;
  justify-content: flex-end;
}

#chat .chats-contents .chats-talk-me .chats-text {
  width: 60%;
  margin-bottom: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chat .chats-contents .chats-talk-me .chats-text h1 {
  margin-left: auto;
  margin-bottom: 7px;
  padding: 10px 20px;
  background-color: #beebe9;
  border-radius: 13px 13px 0 13px;
  font-size: 1em;
}

#chat .chats-contents .chats-talk-me .chats-text h2 {
  margin-left: auto;
  font-size: 11px;
  color: #919098;
}

/* submit message input */

#submit .submit-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  background-color: #f9f5ec;
}

#submit .submit-bar .submit-plus {
  margin: 0 20px;
}

#submit .submit-bar .submit-plus a {
  font-size: 1.6em;
  color: #28222a;
  cursor: pointer;
}

#submit .submit-bar .submit-input {
  width: 80%;
  height: 35px;
}

#submit .submit-bar .submit-input input{
  width: 100%;
  height: 100%;
  padding: 7px;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 13px;
}

#submit .submit-bar .submit-icon {
  margin: 0 20px;
}

#submit .submit-bar .submit-icon a {
  font-size: 1.6em;
  color: #28222a;
  cursor: pointer;
}

/* tab menu */

#tab .tab-menu {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f5ec;
  text-align: center;
}

#tab .tab-menu .tab-icon {
  position: relative;
  flex: 1 1;
}

#tab .tab-menu .tab-icon a{
  color: #28222a;
}

#tab .tab-menu .tab-icon a span {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  border-radius: 10px;
  background-color: #fa163f;
  color: #fff;
  cursor: pointer;
}

/* warning page */

#warning .warning-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f7e600;
}

#warning .warning-page p {
  height: 30px;
  font-size: 28px;
  color: #fff;
}

.show {
  display: flex!important;
}

.hide {
  display: none!important;
}