@import "reset.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fcfcfc;
}

/* status bar */

#status .status-bar {
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  display: flex;
  background-color: #191919;
}

#status .status-bar .clock {
  height: 100%;
  padding: 0 20px;
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#status .status-bar .clock p {
  color: #fff;
  font-weight: 300;
}

#status .status-bar .status {
  height: 100%;
  padding: 0 20px;
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#status .status-bar .status span {
  color: #fff;
  font-size: 0.9em;
  margin: 0 3px;
}

/* title menu */

#title .title-bar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 30px;
  display: flex;
  background-color: #28222a;
}

#title .title-bar .title-header {
  height: 100%;
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#title .title-bar .title-header p {
  color: #fff;
  font-size: 25px;
  margin: 0 20px;
}

#title .title-bar .title-menu {
  height: 100%;
  padding: 0 20px;
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#title .title-bar .title-menu a {
  color: #fff;
  font-size: 0.9em;
  margin: 0 10px;
}

/* tab menu */

#tab .tab-menu {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f5ec;
  text-align: center;
}

#tab .tab-menu .tab-icon {
  flex: 1 1;
}

#tab .tab-menu .tab-icon a{
  color: #28222a;
}

/* warning page */

#warning .warning-page {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f7e600;
}

#warning .warning-page p {
  height: 30px;
  font-size: 28px;
  color: #fff;
}

.show {
  display: flex!important;
}

.hide {
  display: none!important;
}